.Rproj.user
.Rhistory
.RData
.Ruserdata
hs_err_pid29023.log
Test Analyses.R
Factor Analysis Practice.R
.Rprofile
Factor Analysis applied in Multiple Linear Regression Context using R.pdf
epiR.pdf
Comparison of R_Functions_PCA.pdf
Sex-Adjusted Height Bands.R
.RData 2
Confidence Models.R
10.FactorAnalysis.pdf
Factor Analysis (Rigorous).R
PA Factor Analysis - 6-Factor PROMAX Corrmatrix.png
PA Factor Analysis - 7-Factor PROMAX Corrmatrix.png
Power Calculation Testing.R
omega.pdf
ML Factor Analysis - 7-Factor PROMAX Corrmatrix.png
hs_err_pid11413.log
hs_err_pid3090.log
PA Factor Analysis - 8-Factor PROMAX Corrmatrix.png
ML Factor Analysis - 8-Factor PROMAX Corrmatrix.png
MINRES Factor Analysis - 8-Factor PROMAX Corrmatrix.png
cfa using lavaan in r.pdf
PA Factor Analysis - 9-Factor PROMAX Corrmatrix (Median Substitution).png
Daire Hooper 2008 - Structural Equation Modelling -Guidelines for Determining Model Fit.pdf
PA Factor Analysis - 7-Factor PROMAX Corrmatrix (REMOVE SKEW).png
Factor Analysis (Rigorous) (later).R
Principal Componets Revisited.R
hs_err_pid10653.log
hs_err_pid3078.log
Factor Analysis (STRICT).R
hs_err_pid3205.log
Principal Components Revisited.R
hs_err_pid2825.log
loadings.log
Stepwise Tests.R
Latent Variable Modeling - 454.wk2.pdf
Composite Reliability for Factors Using Lavaan.R
hs_err_pid2682.log
PA Factor Analysis - 9-Factor PROMAX Corrmatrix (Median Substitution DIALEXT).png
PA Principal Comp Analysis - 9-Factor PROMAX Corrmatrix (Median Substitution).png
Composite Reliability Do Loop.R
PA Factor Analysis - 9-Factor PROMAX Corrmatrix (Median Substitution) v2.png
hs_err_pid3019.log
Code Switch Solutions?.R
Interaction Plot Tests.R
Probability-LogOdds-Odds.html
Probabilities.Rmd
Odds Ratio Forest Plot.R
hs_err_pid5946.log
SAS csv Export.R
hs_err_pid13740.log
hs_err_pid4026.log
PSYCH-PRCOMP-PRINCOMP Comparison.R
454.week1.pdf
.RData 5
dlookr practice.R
glmulti.analysis.modgen.back
glmulti.analysis.mods.back
